
@media only screen and (max-width: 1000px) {
    .styleLarge{
        display: none;
    }
    .stylesmall{

        display: block;
    }
}

@media only screen and (min-width: 1000px) {

    .stylesmall{

        display: none;
    }
}
